In [12]:
import numpy as np
import pandas as pd

Задача1

In [4]:
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])

In [5]:
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [13]:
cov_ = (zp * ks).mean() - zp.mean() * ks.mean()
cov_

9157.839999999997

In [15]:
np.cov(zp,ks, ddof=0)

array([[ 3494.64,  9157.84],
       [ 9157.84, 30468.89]])

In [11]:
corr_ = cov_/(zp.std()*ks.std())
corr_

0.8874900920739158

In [18]:
np.corrcoef(zp,ks)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

In [17]:
df = pd.DataFrame({'zp':zp, 'ks': ks}, columns = ['zp','ks'])
df

    zp   ks
0   35  401
1   45  574
2  190  874
3  200  919
4   40  459
5   70  739
6   54  653
7  150  902
8  120  746
9  110  832

In [19]:
df.corr()

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

Задача 2

смотрим таблицу Стьюдента для 0.05 и 9 степеней свободы

In [20]:
t_kr = 2.26

In [29]:
a = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])

In [30]:
M = a.mean()
M

118.1

In [31]:
sigma = a.std(ddof=1)
sigma

10.54566788359614

In [32]:
delta = t_kr * sigma/np.sqrt(10)
delta

7.5367225709263765

In [33]:
M - delta

110.56327742907362

In [34]:
M + delta

125.63672257092637

Ответ: доверительный интервал - (110.563, 125.6367)

Задача3

In [52]:
alpha = 0.05

In [53]:
Ф = (1 - 2 * alpha)/2
Ф

0.45

смотрим таблицу Лапласа для Ф = 0.45

In [56]:
c_kr = 1.6

In [57]:
M = 174.2

In [58]:
sigma = std = 5

In [59]:
delta = c_kr * sigma/np.sqrt(27)
delta

1.539600717839002

In [60]:
M - delta

172.660399282161

In [61]:
M + delta

175.73960071783898

Ответ: доверительный интервал - (172.66, 175.734)