In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score as r2
from sklearn.metrics import mean_squared_error as mse

In [330]:
from sklearn.model_selection import train_test_split

In [331]:
data = pd.read_csv('input/train.csv')

In [332]:
data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [333]:
data = data.loc[data['Rooms']<10,:]

data = data.loc[data['Price'].between(30000,600000),:]

data['LifeSquare'] = data['LifeSquare'].fillna(data['Square'])

data.loc[(data['Square']<15)&(data['LifeSquare']>15),'Square'] = data['LifeSquare']

data.loc[(data['Square']<15)&(data['LifeSquare']<15)&(data['Rooms']<=1),'Square'] = data.loc[data['Rooms']==1,'Square'].mean()

data.loc[(data['Square']<15)&(data['LifeSquare']<15)&(data['Rooms']==2),'Square'] = data.loc[data['Rooms']==2,'Square'].mean()

data.loc[(data['Square']<15)&(data['LifeSquare']<15)&(data['Rooms']==3),'Square'] = data.loc[data['Rooms']==3,'Square'].mean()

data.loc[(data['Square']<15)&(data['LifeSquare']<15)&(data['Rooms']==4),'Square'] = data.loc[data['Rooms']==4,'Square'].mean()

data.loc[(data['Square']<15)&(data['LifeSquare']<15)&(data['Rooms']==5),'Square'] = data.loc[data['Rooms']==5,'Square'].mean()

data.loc[(data['Square']>15)&(data['LifeSquare']<15),'LifeSquare'] = data['Square']

data.loc[data['Square']<data['LifeSquare'],'LifeSquare'] = data['Square']

data.loc[data['HouseYear']>2019,'HouseYear'] = data.loc[:,'HouseYear'].mean()

data.loc[data['KitchenSquare']>data['Square'],'KitchenSquare'] = data.loc[data['Rooms']==1,'KitchenSquare'].mean()

data.loc[data['Floor']>data['HouseFloor'],'HouseFloor'] = data['Floor']

data = pd.get_dummies(data)

data.columns

Index(['Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Social_1', 'Social_2',
       'Social_3', 'Healthcare_1', 'Helthcare_2', 'Shops_1', 'Price',
       'Ecology_2_A', 'Ecology_2_B', 'Ecology_3_A', 'Ecology_3_B', 'Shops_2_A',
       'Shops_2_B'],
      dtype='object')

In [334]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9977 entries, 0 to 9999
Data columns (total 23 columns):
Id               9977 non-null int64
DistrictId       9977 non-null int64
Rooms            9977 non-null float64
Square           9977 non-null float64
LifeSquare       9977 non-null float64
KitchenSquare    9977 non-null float64
Floor            9977 non-null int64
HouseFloor       9977 non-null float64
HouseYear        9977 non-null float64
Ecology_1        9977 non-null float64
Social_1         9977 non-null int64
Social_2         9977 non-null int64
Social_3         9977 non-null int64
Healthcare_1     5185 non-null float64
Helthcare_2      9977 non-null int64
Shops_1          9977 non-null int64
Price            9977 non-null float64
Ecology_2_A      9977 non-null uint8
Ecology_2_B      9977 non-null uint8
Ecology_3_A      9977 non-null uint8
Ecology_3_B      9977 non-null uint8
Shops_2_A        9977 non-null uint8
Shops_2_B        9977 non-null uint8
dtypes: float64(9), int64(8), uint8(6)
memory usage: 1.7 MB

In [337]:
train, valid = train_test_split(data, test_size=0.3, random_state=42)

In [338]:
fts = ['Square','Rooms','LifeSquare','Ecology_1','Social_3','Helthcare_2','Shops_1','Ecology_2_A','Ecology_2_B','Ecology_3_A','Ecology_3_B','Shops_2_A','Shops_2_B','HouseYear','Floor','HouseFloor','KitchenSquare']

линейная регрессия

In [339]:
lr = LinearRegression()

In [340]:
lr.fit(train.loc[:,fts], train['Price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [341]:
pred = lr.predict(train.loc[:,fts])

In [342]:
pred

array([294072.36816661, 299040.92179837, 262224.71247431, ...,
       223616.82682327, 156386.93894505, 119152.35184776])

In [343]:
r2(train['Price'], pred)

0.4770074733003947

In [344]:
pred_valid = lr.predict(valid.loc[:,fts])

In [345]:
r2(valid['Price'],pred_valid)

0.48003249843255547

RF

In [346]:
from sklearn.ensemble import RandomForestRegressor as RF

In [347]:
clf = RF(max_depth=18,n_estimators=40,max_features=3,random_state=100)

In [348]:
parameters = [{'n_estimators': [20,25,30,35,40,45,50],'max_features': np.arange(3,5),'max_depth': np.arange(10,30)}]

In [349]:
from sklearn.model_selection import GridSearchCV

In [350]:
clf = GridSearchCV(estimator=RF(random_state=100),param_grid=parameters,scoring='r2',cv=3)

In [351]:
clf.fit(train.loc[:,fts],train['Price'])

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=100, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid=[{'n_estimators': [20, 25, 30, 35, 40, 45, 50], 'max_features': array([3, 4]), 'max_depth': array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29])}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='r2', verbose=0)

In [352]:
clf.best_params_

{'max_depth': 26, 'max_features': 4, 'n_estimators': 50}

In [353]:
pred = clf.predict(train.loc[:,fts])

In [354]:
r2(train['Price'], pred)

0.9605050421973659

In [355]:
pred_valid = clf.predict(valid.loc[:,fts])

In [356]:
r2(valid['Price'],pred_valid)

0.7329242999726164

In [357]:
from sklearn.metrics import mean_squared_error as MSE

In [358]:
MSE(valid['Price'],pred_valid)

2117030178.2554219

дерево решений

In [359]:
from sklearn.tree import DecisionTreeRegressor

In [360]:
regressor = DecisionTreeRegressor(max_depth=21, random_state=100)

In [361]:
regressor.fit(train.loc[:,fts],train['Price'])

DecisionTreeRegressor(criterion='mse', max_depth=21, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=100, splitter='best')

In [362]:
pred = regressor.predict(train.loc[:,fts])

In [363]:
r2(train['Price'], pred)

0.9929516641890029

In [364]:
pred_valid = regressor.predict(valid.loc[:,fts])

In [365]:
r2(valid['Price'],pred_valid)

0.4876303457222443

KNN

In [366]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor as KNN

масштабирование

In [367]:
scaler = StandardScaler()
train_scaled = scaler.fit_transform(train.loc[:,fts])
valid_scaled = scaler.transform(valid.loc[:,fts])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [368]:
for i in range(2,12,2):
    print(f'n_neighbors={i}')
    knn = KNN(n_neighbors=i,weights='distance')
    knn.fit(train_scaled, train['Price'])
    pred = knn.predict(train_scaled)
    print(r2(train['Price'],pred))
    pred_valid = knn.predict(valid_scaled)
    print(r2(valid['Price'],pred_valid))
    print()

n_neighbors=2
1.0
0.5854174231055721

n_neighbors=4
1.0
0.6307859042820455

n_neighbors=6
1.0
0.6419533623871729

n_neighbors=8
1.0
0.6448303824288586

n_neighbors=10
1.0
0.6466691261262059

Вывод: 
    самая лучшая модель Random Forest (случайный лес). 
    Она дает наилучшие предсказания и ее будем использовать для теста!

In [369]:
test = pd.read_csv('input/test.csv')

In [370]:
test.head(5000)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,B,B,11,2748,1,NaN,0,0,B
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B
2,5480,190,1.0,13.597819,15.948246,12.0,2,5.0,1909,0.000000,B,B,30,7538,87,4702.0,5,5,B
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,B,B,23,4583,3,NaN,3,3,B
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A
5,7633,53,1.0,40.675627,NaN,1.0,21,21.0,1977,0.049637,B,B,34,7759,0,229.0,1,3,B
6,13329,23,2.0,68.099538,64.843025,1.0,2,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B
7,5502,32,2.0,48.193897,32.857644,6.0,5,14.0,1972,0.135650,B,B,46,7960,6,350.0,3,11,B
8,4220,96,3.0,72.277106,45.968758,9.0,17,17.0,1997,0.041116,B,B,53,14892,4,NaN,1,4,B
9,11538,6,3.0,80.219400,47.660260,9.0,13,17.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B
10,15975,61,3.0,64.543658,42.651541,7.0,10,9.0,1981,0.300323,B,B,52,10311,6,NaN,1,9,B
11,3310,6,3.0,84.625350,NaN,1.0,6,17.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B
12,9286,3,1.0,34.743457,19.772110,6.0,5,9.0,1971,0.265089,B,B,37,5288,0,1937.0,3,2,B
13,11260,46,2.0,46.813776,31.883008,5.0,4,5.0,1968,0.000000,B,B,47,11319,0,1145.0,3,5,B
14,5214,27,1.0,37.555197,NaN,1.0,5,1.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B
15,11307,41,1.0,42.267225,21.465927,9.0,7,14.0,1974,0.036122,B,B,24,4378,0,1036.0,1,1,B
16,13543,167,3.0,80.220720,51.687097,7.0,5,5.0,1959,0.050272,B,B,21,4231,14,1020.0,0,3,B
17,615,90,1.0,40.596833,21.245197,8.0,14,15.0,1976,0.265089,B,B,37,5288,0,1937.0,3,2,B
18,3495,27,3.0,82.652818,5.690155,1.0,4,17.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A
19,2321,57,2.0,53.952634,33.506643,9.0,5,14.0,2004,0.090799,B,B,74,19083,2,NaN,5,15,B
20,12046,46,1.0,38.409202,21.629841,9.0,12,22.0,2000,0.188784,B,B,31,6137,4,NaN,0,1,B
21,16688,1,1.0,44.878767,NaN,1.0,1,9.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B
22,12694,27,3.0,83.670032,46.358356,0.0,8,0.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A
23,783,61,1.0,34.236032,18.477327,5.0,5,5.0,1970,0.298205,B,B,16,4048,3,NaN,1,3,B
24,8968,27,2.0,69.849239,NaN,0.0,3,0.0,1977,0.011654,B,B,4,915,0,NaN,0,0,B
25,13454,11,2.0,44.487951,31.249479,5.0,3,5.0,1964,0.038693,B,B,28,6533,1,1015.0,2,5,B
26,12190,62,3.0,65.287328,43.399473,6.0,4,12.0,1975,0.002212,B,B,39,7614,3,NaN,1,5,A
27,11160,58,1.0,48.610661,48.752502,1.0,4,3.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B
28,10291,32,1.0,39.135254,20.144385,9.0,3,14.0,1975,0.135650,B,B,46,7960,6,350.0,3,11,B
29,891,85,2.0,65.550690,61.689280,10.0,13,22.0,1988,0.037178,B,B,52,11217,1,2300.0,1,7,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,1740,57,2.0,47.701998,30.281572,6.0,5,9.0,1980,0.133215,B,B,49,11395,3,1406.0,3,4,A
4971,3450,93,1.0,38.648108,20.624272,8.0,4,14.0,1986,0.521867,B,B,25,6149,0,NaN,0,0,B
4972,16064,30,1.0,38.376234,37.003311,1.0,2,1.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B
4973,1804,27,1.0,38.916778,NaN,0.0,11,17.0,1977,0.011654,B,B,4,915,0,NaN,0,0,B
4974,5296,52,1.0,44.442218,44.634608,0.0,5,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B
4975,5346,53,4.0,110.366487,77.705849,20.0,9,24.0,2018,0.049637,B,B,34,7759,0,229.0,1,3,B
4976,4723,95,1.0,45.542940,NaN,0.0,6,0.0,1977,0.000699,B,B,14,3369,24,4129.0,0,3,B
4977,417,77,1.0,32.384127,21.555435,6.0,9,9.0,1976,0.000070,B,B,46,10309,1,240.0,1,16,B
4978,15756,27,1.0,40.732871,23.959211,8.0,6,9.0,2000,0.041116,B,B,53,14892,4,NaN,1,4,B
4979,14090,2,1.0,39.082641,33.214358,7.0,10,14.0,1970,0.000000,B,B,33,7425,1,NaN,2,5,B
4980,14778,32,2.0,57.810897,35.558413,10.0,18,22.0,2004,0.135650,B,B,46,7960,6,350.0,3,11,B
4981,2560,8,2.0,47.488384,28.896493,6.0,5,5.0,1963,0.437885,B,B,23,5735,3,1084.0,0,5,B
4982,12920,23,1.0,39.610426,38.187571,1.0,6,18.0,2013,0.034656,B,B,0,168,0,NaN,0,0,B
4983,8249,58,1.0,39.768340,22.413943,8.0,10,10.0,2005,0.310199,B,B,11,2748,1,NaN,0,0,B
4984,7125,126,1.0,36.233212,22.885434,9.0,3,12.0,1969,0.333892,B,B,30,6564,1,NaN,0,0,B
4985,11732,1,1.0,46.597283,NaN,1.0,17,24.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B
4986,13365,35,3.0,82.145360,44.116118,10.0,21,22.0,1998,0.089040,B,B,33,7976,5,NaN,0,11,B
4987,5361,53,3.0,80.102103,NaN,1.0,13,22.0,1977,0.049637,B,B,34,7759,0,229.0,1,3,B
4988,15937,9,4.0,92.158252,54.168616,12.0,4,14.0,1997,0.161532,B,B,25,5648,1,30.0,2,4,B
4989,2591,39,2.0,44.203592,30.191691,6.0,10,9.0,1972,0.428826,B,B,25,5011,8,730.0,0,2,B
4990,15706,94,2.0,47.776485,27.920873,6.0,8,9.0,1970,0.282798,B,B,33,8667,2,NaN,0,6,B
4991,2105,64,2.0,45.493240,32.022565,6.0,4,9.0,1974,0.135650,B,B,46,7960,6,350.0,3,11,B
4992,7220,96,3.0,80.182493,48.627326,10.0,10,17.0,2003,0.041116,B,B,53,14892,4,NaN,1,4,B
4993,14562,113,2.0,46.627882,27.058739,5.0,6,5.0,1969,0.307467,B,A,30,5048,9,325.0,2,5,B
4994,6836,39,2.0,45.131282,30.780551,6.0,2,5.0,1965,0.428826,B,B,25,5011,8,730.0,0,2,B
4995,8180,11,3.0,67.133911,50.809797,6.0,5,9.0,1973,0.000170,B,B,36,5992,0,NaN,1,1,B
4996,4695,1,1.0,40.198472,21.807061,10.0,12,17.0,2017,0.007122,B,B,1,264,0,NaN,0,1,B
4997,5783,12,3.0,77.842178,48.282625,9.0,23,22.0,1989,0.090799,B,B,74,19083,2,NaN,5,15,B
4998,4780,62,2.0,81.305222,NaN,0.0,4,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A
4999,12504,30,2.0,60.555693,NaN,1.0,10,17.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B

In [371]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
Id               5000 non-null int64
DistrictId       5000 non-null int64
Rooms            5000 non-null float64
Square           5000 non-null float64
LifeSquare       3959 non-null float64
KitchenSquare    5000 non-null float64
Floor            5000 non-null int64
HouseFloor       5000 non-null float64
HouseYear        5000 non-null int64
Ecology_1        5000 non-null float64
Ecology_2        5000 non-null object
Ecology_3        5000 non-null object
Social_1         5000 non-null int64
Social_2         5000 non-null int64
Social_3         5000 non-null int64
Healthcare_1     2623 non-null float64
Helthcare_2      5000 non-null int64
Shops_1          5000 non-null int64
Shops_2          5000 non-null object
dtypes: float64(7), int64(9), object(3)
memory usage: 742.3+ KB

In [372]:
test['LifeSquare'] = test['LifeSquare'].fillna(test['Square'])

test.loc[(test['Square']<15)&(test['LifeSquare']>15),'Square'] = test['LifeSquare']

test.loc[(test['Square']<15)&(test['LifeSquare']<15)&(test['Rooms']<=1),'Square'] = test.loc[test['Rooms']==1,'Square'].mean()

test.loc[(test['Square']<15)&(test['LifeSquare']<15)&(test['Rooms']==2),'Square'] = test.loc[test['Rooms']==2,'Square'].mean()

test.loc[(test['Square']<15)&(test['LifeSquare']<15)&(test['Rooms']==3),'Square'] = test.loc[test['Rooms']==3,'Square'].mean()

test.loc[(test['Square']<15)&(test['LifeSquare']<15)&(test['Rooms']==4),'Square'] = test.loc[test['Rooms']==4,'Square'].mean()

test.loc[(test['Square']<15)&(test['LifeSquare']<15)&(test['Rooms']==5),'Square'] = test.loc[test['Rooms']==5,'Square'].mean()

test.loc[(test['Square']>15)&(test['LifeSquare']<15),'LifeSquare'] = test['Square']

test.loc[test['Square']<test['LifeSquare'],'LifeSquare'] = test['Square']

test.loc[test['HouseYear']>2019,'HouseYear'] = test.loc[:,'HouseYear'].mean()

test.loc[test['KitchenSquare']>test['Square'],'KitchenSquare'] = test.loc[test['Rooms']==1,'KitchenSquare'].mean()

test.loc[test['Floor']>test['HouseFloor'],'HouseFloor'] = test['Floor']

test = pd.get_dummies(test)

In [373]:
pred_test = clf.predict(test.loc[:,fts])

In [374]:
test['Price'] = pred_test

In [375]:
test.loc[:,['Id','Price']]

         Id          Price
0       725  168749.017226
1     15856  217029.331076
2      5480  208763.348693
3     15664  331033.044486
4     14275  137482.490319
5      7633  213804.089555
6     13329  176226.791361
7      5502  214374.535997
8      4220  307475.791875
9     11538  211366.197441
10    15975  279277.821058
11     3310  223458.720466
12     9286  150095.132580
13    11260  148872.395483
14     5214   99411.672957
15    11307  171396.385089
16    13543  367956.778145
17      615  200979.473331
18     3495  213982.014159
19     2321  226729.811381
20    12046  186993.023732
21    16688  148193.328654
22    12694  232500.086251
23      783  142190.719022
24     8968  145439.121477
25    13454  175711.929762
26    12190  255028.981847
27    11160  117873.530042
28    10291  196042.639092
29      891  257821.755521
...     ...            ...
4970   1740  191077.656681
4971   3450  134741.098606
4972  16064  113822.703671
4973   1804  114912.649172
4974   5296  138788.255380
4975   5346  457560.306466
4976   4723  361625.703974
4977    417  163828.942464
4978  15756  171222.429454
4979  14090  181764.578031
4980  14778  309409.167704
4981   2560  173331.494941
4982  12920  107645.149367
4983   8249  142917.649250
4984   7125  164258.309778
4985  11732  159762.070032
4986  13365  377811.504498
4987   5361  359608.440315
4988  15937  307338.543873
4989   2591  192093.245871
4990  15706  207719.769819
4991   2105  215665.031769
4992   7220  341734.630852
4993  14562  194362.329203
4994   6836  185843.363436
4995   8180  253738.911301
4996   4695  119653.888919
4997   5783  318714.189910
4998   4780  192133.612983
4999  12504  171804.100067

[5000 rows x 2 columns]

In [377]:
test.loc[:,['Id','Price']].to_csv('output/VZinchenko_predictions.csv',index=None)